<?xml version="1.0"?>
<ServerSettings>
  <property name="AirDropFrequency" value="168"/>
  <property name="BlockDurabilityModifier" value="300"/>
  <property name="BuildCreate" value="false"/>
  <property name="ControlPanelEnabled" value="false"/>
  <property name="ControlPanelPassword" value="1981"/>
  <property name="ControlPanelPort" value="8080"/>
  <property name="CraftTimer" value="1"/>
  <property name="DayLightLength" value="12"/>
  <property name="DayNightLength" value="120"/>
  <property name="DropOnDeath" value="0"/>
  <property name="DropOnQuit" value="0"/>
  <property name="EACEnabled" value="false"/>
  <property name="EnemyDifficulty" value="0"/>
  <property name="EnemySenseMemory" value="120"/>
  <property name="EnemySpawnMode" value="1"/>
  <property name="FriendlyFire" value="true"/>
  <property name="GameDifficulty" value="4"/>
  <property name="GameMode" value="GameModeSurvivalMP"/>
  <property name="GameName" value="446f480333503c5fcc48a36d23465ad7"/>
  <property name="GameWorld" value="Random Gen"/>
  <property name="LandClaimDeadZone" value="30"/>
  <property name="LandClaimDecayMode" value="0"/>
  <property name="LandClaimExpiryTime" value="3"/>
  <property name="LandClaimOfflineDurabilityModifier" value="4"/>
  <property name="LandClaimOnlineDurabilityModifier" value="4"/>
  <property name="LandClaimSize" value="7"/>
  <property name="LootAbundance" value="15"/>
  <property name="LootRespawnDays" value="9999"/>
  <property name="LootTimer" value="1"/>
  <property name="MaxSpawnedZombies" value="120"/>
  <property name="ServerDescription" value=""/>
  <property name="ServerIsPublic" value="true"/>
  <property name="ServerMaxPlayerCount" value="4"/>
  <property name="ServerName" value="palmic"/>
  <property name="ServerPassword" value="1981"/>
  <property name="ServerPort" value="26001"/>
  <property name="ServerWebsiteURL" value=""/>
  <property name="TelnetPassword" value="1981"/>
  <property name="TelnetPort" value="8081"/>
  <property name="ZombiesRun" value="0"/>
  <property name="TelnetEnabled" value="true"/>
  <property name="AdminFileName" value="admins.xml"/>
  <property name="SaveGameFolder" value="/home/sdtd/instances/palmic"/>
</ServerSettings>
